<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Othaim_Management.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <Othaim_Management.Properties.Settings>
      <setting name="chk" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="id" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="userName" serializeAs="String">
        <value />
      </setting>
      <setting name="brWin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="brNewbtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="brEditbtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="deptWin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="deptNewbtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="deptEditbtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="usrWin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="usrNewbtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="usrEditbtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="catWin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="catNewbtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="catEditbtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="devTypeWin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="devTypeNewbtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="devTypeEditbtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mdlWin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mdlNewbtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mdlEditbtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="typeWin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="typeNewbtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="typeEditbtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="statWin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="statNewbtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="statEditbtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="devWin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="devNewbtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="devEditbtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="brDeletebtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="deptDeletebtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="usrDeletebtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="catDeletebtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="devTypeDeletebtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mdlDeletebtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="typeDeletebtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="statDeletebtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="devDeletebtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="transout" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="stock" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="transin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="transReport" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="transReportDeletebtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="feedBackMgr" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Authority" serializeAs="String">
        <value />
      </setting>
      <setting name="PhoneWin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="phoneNewbtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="phoneEditbtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="phoneDeletebtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rptCheck" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Toner" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TonerReport" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="deviceCycleReport" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DeviceReport" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Maintenance" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Depreciation" serializeAs="String">
        <value>False</value>
      </setting>
    </Othaim_Management.Properties.Settings>
  </userSettings>
 
  <connectionStrings>
    <add name="ZKTeco_DBEntities" connectionString="metadata=res://*/Model.ZKTeco_DB.csdl|res://*/Model.ZKTeco_DB.ssdl|res://*/Model.ZKTeco_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.20.0.10;initial catalog=ZKTeco_DB;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OthaimITEntities" connectionString="metadata=res://*/Model.OthaimIT.csdl|res://*/Model.OthaimIT.ssdl|res://*/Model.OthaimIT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=OthaimIT;persist security info=True;user id=sa;password=sa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>